body{
    background-color: #3f3f4f;
}

footer{
    background-color: black;
    color: whitesmoke;
    font-size: 20px;
    text-align: center;
    position: fixed;
    bottom: 0px;
    width: 90%;
    height: 50px;
    left: 5%;
}

#tartalom{
    width: 90%;
    height: auto;
    left: 5%;
    position: absolute;
    text-align: center;
    font-size: 30px;
    color: blanchedalmond;
    background-color: darkblue;
    padding-bottom: 30px;
    margin-top: 100px;
}

#bmwkep{
    width: 30%;
    padding-left: 10px;
    float: right;
}

#bmwkep2{
    width: 30%;
    padding-right: 10px;
    padding-bottom: 30px;
    float: left;
}

/*Menü*/
#rolunk{
    float: left;
}

header{
    background-color: lightblue;
    width: 90%;
    left: 5%;
    background-size: cover;
    background-position: bottom;
    padding: 20px 0px;
    box-shadow: 1px 0px 5px black;
    position: fixed;
    top: 0%;
}

.menu{
    width: 100%;
    background-color: rgb(45, 10, 4);
    box-shadow: 2px 2px 10px black;
}

.menu li{
    font-size: 1.2em;
    list-style-type: none;
    float: right;
    padding: 15px 0px;
    text-align: center;
    width: 200px;
    margin-right: 20px;
}

.menu li:hover{
    background-color: rgb(83, 21, 10);
}

.menu a{
    text-decoration: none;
    color: rgb(226, 105, 25);
}














#mercimotor{
    width: 20%; 
    padding: 10px;
    
}
#driftmerci{
    width: 30%;
    display: inline;
    float: right;
    
}
#mercikep{
    width: 20%;
    display: inline;
}

.asd{
    display: inline;
}































#audikep{
    padding-left: 10px;
    padding-right: 25px;
    width: 20%;
    float: left;
}

#audikepek{
    padding-top: 20px;
}

.img-audi{
    height: 150px;
    border: 1px solid gray;
    border-radius: 6px;
    padding: 6px;
    background-color: white;
    filter: grayscale(100%);
    
}

.img-audi:hover{
    box-shadow: 0 0 10px gray;
    filter: grayscale(0%);
    height: 165px;
    transform: translateY(10px);
}

a{
    text-decoration: none;
}







