body{
    margin: auto;
    background-color: #3f3f4f;
}
footer{
    background-color: black;
    color: whitesmoke;
    font-size: 20px;
    text-align: center;
    position: fixed;
    bottom: 0px;
    width: 90%;
    height: 30px;
    left: 5%;
}
button{
    border-radius: 20px;
    background-color: rgb(43, 41, 41);
    color: whitesmoke;
    font-size: 20px;
    float: right;
}
header{
    background-color: rgb(41, 39, 39);
    width: 90%;
    height: 30px;
    left: 5%;
    top: 0px;
    position: relative;
}
#tartalom{
    width: 90%;
    height: auto;
    left: 5%;
    position: absolute;
    text-align: center;
    font-size: 30px;
    padding-bottom: 30px;
    color: blanchedalmond;
    background-color: darkblue;
}
#bmwkep{
    width: 30%;
    float: right;
}
#bmwkep2{
    width: 30%;
    float: left;
}


















#mercimotor{
    width: 20%;
    
    padding: 10px;
    display: block;
}
#driftmerci{
    width: 30%;
   
    padding: 10px;
    display: block;
    
}
#mercikep{
    width: 20%;
   
    padding: 10px;
    display: block;
}































#audikep{
    width: 30%;
    float: left;
}









