footer{
    background-color: black;
    color: whitesmoke;
    font-size: 20px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    width: 90%;
    height: 30px;
    left: 5%;
}
button{
    border-radius: 20px;
    background-color: rgb(43, 41, 41);
    color: whitesmoke;
    font-size: 20px;
    float: right;
}
header{
    background-color: rgb(41, 39, 39);
    width: 90%;
    height: 30px;
    left: 5%;
    top: 0px;
    position: relative;
}
#tartalom{
    width: 90%;
    height: auto;
    left: 5%;
    position: absolute;
    text-align: center;
<<<<<<< HEAD
    font-size: 30px;
    }
#mercimotor{
    height: 250px;
}
=======
}
>>>>>>> 73f1f52e2ae4f04ec5e3e54b3ba28c33266eed33
